@media (max-width: 400px){

    /* CABEÇALHO */

    .navegacao_cabecalho{

        display: none;
    }

    .menu_hamburguer{

        display: flex !important;
        padding: .5em;
    }

    .menu_hamburguer_ativo{

        display: none;
    }

    .navegacao_menu_hamburguer_cabecalho{

        display: flex !important;
        justify-content: center;
        background: var(--cinza);
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 60%;
        z-index: 1;
    }

    .navegacao_menu_hamburguer_cabecalho ul{

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 7em;
        gap: 20px;
    }

    .navegacao_menu_hamburguer_cabecalho ul a{

        color: var(--preto);
        text-decoration: underline;
        color: var(--azul-medio);
    }

    .navegacao_menu_hamburguer_cabecalho .dark_mobile{

        background: transparent;
        border: none;
        color: var(--azul-medio);
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
    }

    .navegacao_menu_hamburguer_cabecalho .light_mobile{

        display: none;
        background: transparent;
        border: none;
        color: var(--azul-medio);
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
        position: relative;
        bottom: 20px;
    }

    .fechar_menu{

        padding: .2em;
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 1.2em;
        color: var(--azul-escuro);
        border: 1px solid var(--azul-escuro);
        z-index: 2;
    }

    .voltar_topo{

        display: none !important;
    }

    /* PRINCIPAL */

    .principal{

        align-items: start !important;
        height: 30vh !important;
    }

    .principal img{

        display: none;
    }

    .titulo{

        padding-top: 5em;
    }

    .dark_mode{

        display: none;
    }

    /* CONTATO */

    .contato{

        height: 55vh !important;
    }

    .contato_logo{

        height: 150px !important;
    }

    /* PROJETOS */

    .projetos_container ul{

        flex-direction: column;
        align-items: center !important;
    }

    .projetos_container li{

        width: 80% !important;
        filter: grayscale(0) !important;
    }
}